<style>
body {
  background-image: url('https://pngtree.com/freebackground/rainbow-curves-abstract-colorful-background_2379642.html');
}
</style>

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
